<div class="col-xs-6 col-md-4" id="<%= task.id %>">
  <div class="post-it-note">

    <% if task.public %>
      <span class="glyphicon glyphicon-volume-up fa-2x" title="Public Task"></span>
    <% else %>  
      <span class="glyphicon glyphicon-volume-off fa-2x" title="Private Task"></span>
    <% end %>

    <%= link_to task_path(task), method: 'delete', remote: true do %>
      <span class="checkIcon glyphicon glyphicon-check fa-2x" style='float: right;'></span>
    <% end %>
    <br>
    <hr class="hrPostIt">
    <p class="pPostIt"><%= task.description %></p>
  </div>

  <br><br>
</div>